.header {
    background-color: blueviolet;
    color: white;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voter-login-form{
   background-color: whitesmoke; 
   padding:1%;
   border-radius:15ox;
   box-shadow:2px 2px 2px 2px grey;
}